body {
    background: #eee;
    font-family: Arial, Open Sans, Helvetica, sans-serif;
    font-size: 17px;
    margin: 0;
}

h2 {
    font-family: "Segoe UI", Open Sans, Helvetica, Arial, sans-serif;
    font-size: 37px;
    font-weight: 200;
    margin: 0 0 12px 12px;
}

@media (min-width: 900px) {
    h2 {
        margin: 0 0 12px -40px;
    }
}

p {
    margin: 8px 0;
}

a {
    color: #44f;
    text-decoration: none;
}
a:hover {
    color: #77f;
    text-decoration: none;
}

.no-overflow {
    overflow: hidden;
}

/* Sections */
section {
    padding: 20px 0;
}

/* Other */
.central {
    margin: 0 auto;
    width: 800px;
}

#external-link-wiki     { background-position-x: 0px; }
#external-link-github   { background-position-x: -32px; }
#external-link-twitter  { background-position-x: -64px; }
#external-link-youtube  { background-position-x: -96px; }
#external-link-linkedin { background-position-x: -128px; }

/******************************
 * Header
 ******************************/
#header {
    background-color: #45267D;
    color: #eee;
    padding: 8px 0;
}

header {
    background-image: url("resources/images/Olifre.png");
    background-size: 96px 96px;
    background-repeat: no-repeat;
    height: 96px;
    padding-left: 100px;
}

header h1 {
    margin: 0 0 4px 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 52px;
    font-weight: 200;
    line-height: 52px;
}

header h3 {
    margin: 0 0 0 32px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 200;
}

header h3 sub {
    font-size: 14px;
}

header h3 em {
    font-size: 20px;
    margin-left: 10px;
}