/* General stuff */
* {
    font-family: "Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
	font-size: 2.4rem;
}
h2 {
	margin-top: 1rem;
	font-size: 1.5rem
}
h3 {
	margin-top: 1rem;
	font-size: 1.25rem
}
h4, h5, h6 {
	margin-top: 1rem;
	font-size: 1rem
}
p {
	margin-top: 0;
	margin-bottom: 1rem
}

/* The sidebar menu */
.sidebar {
    padding: 1em 1em 1em 1em;
    height: 100%;
    width: 16em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgb(105, 64, 143), rgb(35, 0, 68));
    overflow-x: hidden;
    padding-top: 3em;
	color: #cacaca;
    box-shadow: 0 0 1rem 0 black;
}
  
#title, #title a {
    text-decoration: none;
	margin-bottom: .5rem;
	font-weight: 600;
	line-height: 1.25;
	color: #cacaca;
}

#nickname {
    font-size: 4rem;
}

#title a:hover {
    text-decoration: underline;
}
 
#additional {
	color: #8f8d8d;
    font-size: 1.2rem;
    padding-top: 1em;
}

#links {
    padding-top: 1rem;
}

#links a {
    text-decoration: none;
	margin-bottom: .5rem;
	font-weight: 600;
	line-height: 1.25;
	color: #cacaca;
    display: block;
    font-size: 1.2rem;
}

#links #about-topics a {
    font-size: 0.8rem;
    margin-left: 1em;
}

#links a:hover {
    text-decoration: underline;
}

#copyright {
    position: fixed;
    bottom: 0;
}

#external-icons img {
    height: 25px;
    padding-top: 2rem;
    padding-right: 1rem;
}

#github-icon {
    width: 25px;
}

#twitter-icon {
    width: 25px;
}

#youtube-icon {
    width: 35px;
}

  /* Style page content */
.main {
    margin-left: 20em;
}

ul {
    list-style-position: inside;
}

#banner {
    height: 30%;
    width: auto;
    background-image: url(../resources/GamingBanner2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: -1em 0 0 -3em;
    box-shadow: inset 0 0 1rem 0 black;
}

@media screen and (max-width: 992px) {
    #banner {
        height: 16.5em;
    }
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar #title {font-size: 18px;}
}

#gaming-box {
    margin-top: 1em;
}

#gaming-box img {
    width: 45em;
    height: auto;
}

#gaming-box .mobile img {
    width: 20em; 
    height: auto;
}

@media screen and (max-width: 1280px) {
    #gaming-box img {
        width: 97.5%;
        height: auto;
    }
}

#gaming-box a {
    text-decoration: none;
    color: red;
}

#gaming-box a:hover{
    text-decoration: none;
    color: #8f8d8d;
}